! ╻ ╻┏━┓┏━╸┏━┓┏━┓╻ ╻┏━┓┏━╸┏━╸┏━┓!
! ┏╋┛┣┳┛┣╸ ┗━┓┃ ┃┃ ┃┣┳┛┃  ┣╸ ┗━┓!
! ╹ ╹╹┗╸┗━╸┗━┛┗━┛┗━┛╹┗╸┗━╸┗━╸┗━┛!
! by Morgareh                   !
!-------------------------------!

!!----------------------------------------------------------------------------!!
!! Xft (font) settings
!!----------------------------------------------------------------------------!!
 
xft*dpi: 96
xft*antialias: false
xft*hinting: full
xft*rgba: rgb
xft*autohint: false
xft*hintstyle: hintslight
xft*lcdfilter: lcddefault
 
!!----------------------------------------------------------------------------!!
!! mouse cursor settings
!!----------------------------------------------------------------------------!!
xcursor.theme:              Vanilla-DMZ
xcursor.size:               22
 
!!----------------------------------------------------------------------------!!
!! Extensions ~/.urxvt./ext
!!----------------------------------------------------------------------------!!

URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,font-size,tabbed

!!----------------------------------------------------------------------------!!
!! general settings
!!----------------------------------------------------------------------------!!

urxvt.font:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9
urxvt.boldFont:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9
uRxvt.imFont:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9
uRxvt.italicFont:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9


URxvt.font-size.step: 4
URxvt.keysym.C-plus:      font-size:increase
URxvt.keysym.C-minus:    font-size:decrease
URxvt.keysym.C-equal:   font-size:reset
URxvt.keysym.C-slash:   font-size:show

urxvt.letterSpace: -1
Urxvt.scrollBar: false
URxvt.internalBorder: 4
URxvt.dynamicColors: on
URxvt.borderLess: false
URxvt.scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt.saveLines: 1024
URxvt.mouseWheelScrollPage: true
URxvt.termName: rxvt-unicode-256color
URxvt.geometry: 153x26+302+161

!!----------------------------------------------------------------------------!!
!! Clipboard
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste
URxvt.keysym.C-S-W: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

!!----------------------------------------------------------------------------!!
!! Tabs
!!----------------------------------------------------------------------------!!

URxvt.tabbed.tabbar-fg : 161
URxvt.tabbed.tabbar-bg : 235
URxvt.tabbed.tab-fg : 15 
URxvt.tabbed.tab-bg : 235

!!----------------------------------------------------------------------------!!
!! Keyboard-selec
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-S-S: perl:keyboard-select:search

!!----------------------------------------------------------------------------!!
!! Url-select
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-U: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true
URxvt.cursorBlink: true

!!----------------------------------------------------------------------------!!
!!Urxvt  colors
!!----------------------------------------------------------------------------!!

URxvt.colorIT:                        #DEDEDE
URxvt.colorBD:                        #B1ACAC
!URxvt.colorUL:                        #C02A4C
URxvt.highlightTextColor:             #ffffff
URxvt.highlightColor:                 #C02A4C
!URxvt.underlineColor:                 #1D1F21

!!----------------------------------------------------------------------------!!
!!General   colors
!!----------------------------------------------------------------------------!!

*background: #1D1F21
*foreground: #C5C8C6
*cursorColor: #C02A4C

! black
*color0: #282A2E
*color8: #373B41
! red
*color1: #C12B4D
*color9:  #EA1F4D 
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #F5F6F7
*color15: #C5C8C6 


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #C02A4C ,  #1B2B34
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! Color scheme window
rofi.color-window:                   argb:ee222222,  #C02A4C ,  #C02A4C
! Separator style (none, dash, solid)
rofi.separator-style:                solid
!Font
rofi.font: pragmatapro for powerline 9
