! ╻ ╻┏━┓┏━╸┏━┓┏━┓╻ ╻┏━┓┏━╸┏━╸┏━┓!
! ┏╋┛┣┳┛┣╸ ┗━┓┃ ┃┃ ┃┣┳┛┃  ┣╸ ┗━┓!
! ╹ ╹╹┗╸┗━╸┗━┛┗━┛┗━┛╹┗╸┗━╸┗━╸┗━┛!
! by Morgareh                   !
!-------------------------------!

!!----------------------------------------------------------------------------!!
!! Xft (font) settings
!!----------------------------------------------------------------------------!!
 
xft*dpi: 96
xft*antialias: false
xft*hinting: full
xft*rgba: rgb
xft*autohint: false
xft*hintstyle: hintslight
xft*lcdfilter: lcddefault
 
!!----------------------------------------------------------------------------!!
!! mouse cursor settings
!!----------------------------------------------------------------------------!!
xcursor.theme:              Vanilla-DMZ
xcursor.size:               22
 
 
!!----------------------------------------------------------------------------!!
!! general settings
!!----------------------------------------------------------------------------!!

urxvt.font: xft:pragmatapro for powerline:size=8,xft:meguri:pixelsize=8,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:style=Regular:pixelsize=8,xft:PowerlineSymbols:size=8
urxvt.boldFont: xft:pragmatapro for powerline:size=8,xft:meguri:pixelsize=8,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:style=Regular:pixelsize=8,xft:PowerlineSymbols:size=8

urxvt.letterSpace: -1

Urxvt.scrollBar: false
URxvt.internalBorder: 4
URxvt.dynamicColors: on
URxvt.borderLess: false
URxvt.scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt.saveLines: 1024
URxvt.mouseWheelScrollPage: true

!!----------------------------------------------------------------------------!!
!! Extensions ~/.urxvt./ext
!!----------------------------------------------------------------------------!!

URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select


!!----------------------------------------------------------------------------!!
!! Clipboard
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste
URxvt.keysym.C-S-W: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

!!----------------------------------------------------------------------------!!
!! Keyboard-selec
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-S-S: perl:keyboard-select:search

!!----------------------------------------------------------------------------!!
!! Url-select
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-U: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true

!!----------------------------------------------------------------------------!!
!!Urxvt  colors
!!----------------------------------------------------------------------------!!

URxvt.colorIT:                       #DEDEDE
URxvt.colorBD:                       #B1ACAC
URxvt.colorUL:                       #6B6767

!!----------------------------------------------------------------------------!!
!!General   colors
!!----------------------------------------------------------------------------!!

*background: #151515
*foreground: #888888
*cursorColor: #169F85
! black
*color0: #1C1C1C
*color8: #404040
! red
*color1: #B85335
*color9: #CF6A4C
! green
*color2: #169F85
*color10: #169F85
! yellow
*color3: #FFB964
*color11: #FAD07A
! blue
*color4: #667899
*color12: #8197BF
! magenta
*color5: #8787AF
*color13: #C6B6EE
! cyan
*color6: #668799
*color14: #8FBFDC
! white
*color7: #888888
*color15: #E8E8D3

