! ╻ ╻┏━┓┏━╸┏━┓┏━┓╻ ╻┏━┓┏━╸┏━╸┏━┓!
! ┏╋┛┣┳┛┣╸ ┗━┓┃ ┃┃ ┃┣┳┛┃  ┣╸ ┗━┓!
! ╹ ╹╹┗╸┗━╸┗━┛┗━┛┗━┛╹┗╸┗━╸┗━╸┗━┛!
! by Morgareh                   !
!-------------------------------!

!!----------------------------------------------------------------------------!!
!! Xft (font) settings
!!----------------------------------------------------------------------------!!
 
xft*dpi: 96
xft*antialias: false
xft*hinting: full
xft*rgba: rgb
xft*autohint: false
xft*hintstyle: hintslight
xft*lcdfilter: lcddefault
 
!!----------------------------------------------------------------------------!!
!! mouse cursor settings
!!----------------------------------------------------------------------------!!
xcursor.theme:              Vanilla-DMZ
xcursor.size:               22
 
!!----------------------------------------------------------------------------!!
!! Extensions ~/.urxvt./ext
!!----------------------------------------------------------------------------!!

URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,font-size,tabbed

!!----------------------------------------------------------------------------!!
!! general settings
!!----------------------------------------------------------------------------!!

urxvt.font:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9,xft:FontAwesome:size10
urxvt.boldFont:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9,xft:FontAwesome:size10
uRxvt.imFont:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9,xft:FontAwesome:size10
uRxvt.italicFont:xft:pragmatapro for powerline:size=9,xft:meguri:pixelsize=9,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9,xft:FontAwesome:size10

URxvt.font-size.step: 4
URxvt.keysym.C-plus:      font-size:increase
URxvt.keysym.C-minus:    font-size:decrease
URxvt.keysym.C-equal:   font-size:reset
URxvt.keysym.C-slash:   font-size:show

urxvt.letterSpace: -1
Urxvt.scrollBar: false
URxvt.internalBorder: 4
URxvt.dynamicColors: on
URxvt.borderLess: false
URxvt.scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt.saveLines: 1024
URxvt.mouseWheelScrollPage: true
URxvt.termName: rxvt-unicode-256color
URxvt.geometry: 90x20

!!----------------------------------------------------------------------------!!
!! Clipboard
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste
URxvt.keysym.C-S-W: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

!!----------------------------------------------------------------------------!!
!! Tabs
!!----------------------------------------------------------------------------!!

URxvt.tabbed.tabbar-fg : 161
URxvt.tabbed.tabbar-bg : 235
URxvt.tabbed.tab-fg : 15 
URxvt.tabbed.tab-bg : 235

!!----------------------------------------------------------------------------!!
!! Keyboard-selec
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-S-S: perl:keyboard-select:search

!!----------------------------------------------------------------------------!!
!! Url-select
!!----------------------------------------------------------------------------!!

URxvt.keysym.C-S-U: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true
URxvt.cursorBlink: true

!!----------------------------------------------------------------------------!!
!!Urxvt  colors
!!----------------------------------------------------------------------------!!

URxvt.colorIT:                        #DEDEDE
URxvt.colorBD:                        #B1ACAC
!URxvt.colorUL:                       #1A8A74
URxvt.highlightTextColor:             #ffffff
URxvt.highlightColor:                 #1A8A74
!URxvt.underlineColor:                #1D1F21

!!----------------------------------------------------------------------------!!
!!General   colors
!!----------------------------------------------------------------------------!!


*.foreground:  #7c8fa4
*.background:  #0e1011
*.cursorColor: #708284
!
! Black
*.color0:      #002831
*.color8:      #001e27
!
! Red
*.color1:      #e63853
*.color9:      #e1003f
!
! Green
*.color2:      #5eb83c
*.color10:     #1d9000
!
! Yellow
*.color3:      #a57706
*.color11:     #cd9409
!
! Blue
*.color4:      #359ddf
*.color12:     #006fc0
!
! Magenta
*.color5:      #d75cff
*.color13:     #a200da
!
! Cyan
*.color6:      #4b73a2
*.color14:     #005794
!
! White
*.color7:      #dcdcdc
*.color15:     #e2e2e2
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #C02A4C ,  #1B2B34
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! Color scheme window
rofi.color-window:                   argb:ee222222,   #C02A4C ,   #C02A4C
! Separator style (none, dash, solid)
rofi.separator-style:                solid
!Font
rofi.font: pragmatapro for powerline 9
