[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/morgareth/Desktop/Home.desktop]
row=3
col=0

[be4c80f5-2c8a-430b-a911-5546de71695f]
row=0
col=0

[/]
row=1
col=0

[/home/morgareth]
row=2
col=0

